
/* overlay layer */
%overlay {

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 20;
}


%truncate-text {

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

%unselectable {

    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
